<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faris Faikar | Portofolio</title>
</head>
<body>
    <h1>This is supposed to be a navbar</h1>

    {% block content %}
    {% endblock content %}
    
    <h2>There should be a footer here somewhere, it contains:</h2>
    <ul>
        <li>Faris Faikar &copy 2023</li>
        <li><a href="https://linkedin.com/in/farisfaikar" target="_blank">Linkedin</a> <a href="https://github.com/farisfaikar" target="_blank">Github</a>
            <a href="https://instagram.com/farisfaikar_r" target="_blank">Instagram</a> <a href="https://youtube.com/@farisfaikar_r" target="_blank">Youtube</a>
            <a href="https://twitter.com/farisfaikar_r" target="_blank">Twitter</a> <a href="https://facebook.com/farisfaikar.r" target="_blank">Facebook</a>
            <a href="https://discordapp.com/users/388161543402946561" target="_blank">Discord</a> <a href="">Email?</a>
            <a href="+6289646458649">Phone?</a>
        </li>
    </ul>
    <p></p>
</body>
</html>